* {
  box-sizing: border-box;
}
body{
  background:#e0e1e2;
}

#list{
  margin: 3em 25% 3em 25% ;
  height: 800px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: whitesmoke;
  box-shadow: 0px 2px #bfb1b1;
}
.container{
  clear: both;
  /* border-bottom: 1px solid lightgray; */
}
.img-container{
  width: 20%;
  float: left;
  padding: .5em;
}
.info-container{
  width: 70%;
  float: left;
}
.collapsible-scores{
  /* display: none;
  padding: 0 18px; */
  /* width: 100%; */
  /* display: none; */
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
    display: none
}
.collapsible-scores.in {
  display: block
}
.collapsible{
  width: 10%
}


img {
  height: 100px;
  border-radius: 50%;
  border: 1px solid lightgray;
}
h1, p{
  width:80%;
  float:right;
  margin-top: 0%;
  margin-bottom: 0%;
}
p{
  color: gray;
  padding-left: 1em;
}
